<section class="content">
    <div class="body_scroll">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                        <div class="body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link " data-toggle="tab" routerLink="/users"
                                        routerLinkActive="active">Clients</a></li>
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab">Ajouter
                                        Client</a></li>
                            </ul>
                            <div class="tab-content">
                                <div>
                                    <div class="body">
                                        <div class="header">
                                            <h2><strong class="text-primary">Nouvelle intervention</strong></h2>
                                            <hr>
                                        </div>
                                        <form name="myForm" [formGroup]="myForm">
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label>Prénom<span style="color:red"> *</span></label>
                                                    <input type="text" class="form-control" placeholder="Prénom"
                                                        id="firstName" #firstName name="firstName"
                                                        formControlName="firstName"
                                                        [ngClass]="{'is-invalid':myForm.controls['firstName'].touched && myForm.controls['firstName'].invalid,
                                                        'is-valid':myForm.controls['firstName'].touched && myForm.controls['firstName'].valid}">
                                                    <div class="invalid-feedback">
                                                        <div>Entrez votre prénom</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label>Nom <span style="color:red"> *</span></label>
                                                    <input type="text" class="form-control" placeholder="Nom"
                                                        id="lastName" #lastName name="lastName"
                                                        formControlName="lastName"
                                                        [ngClass]="{'is-invalid':myForm.controls['lastName'].touched && myForm.controls['lastName'].invalid,
                                                        'is-valid':myForm.controls['lastName'].touched && myForm.controls['lastName'].valid}">
                                                    <div class="invalid-feedback">
                                                        <div>Entrez votre nom</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label>Email <span style="color:red"> *</span></label>
                                                    <input type="email" class="form-control" placeholder="Email" #email name="email"
                                                        required="" id="email" formControlName="email"
                                                        [ngClass]="{'is-invalid':myForm.controls['email'].touched && myForm.controls['email'].invalid,
                                                        'is-valid':myForm.controls['email'].touched && myForm.controls['email'].valid}">
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label>User name <span style="color:red"> *</span></label>
                                                    <input type="text" class="form-control" placeholder="Username"
                                                        #username name="username" required="" id="username"
                                                        formControlName="username"
                                                        [ngClass]="{'is-invalid':myForm.controls['username'].touched && myForm.controls['username'].invalid,
                                                    'is-valid':myForm.controls['username'].touched && myForm.controls['username'].valid}">
                                                    <div class="invalid-feedback">
                                                        <div>Entrez votre username</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label>Password <span style="color:red"> *</span></label>
                                                    <input type="password" class="form-control form-control-lg"
                                                        id="exampleInputPassword1" placeholder="Password" #password
                                                        required="" id="password" formControlName="password"
                                                        [ngClass]="{'is-invalid':myForm.controls['password'].touched && myForm.controls['password'].invalid,
                                                    'is-valid':myForm.controls['password'].touched && myForm.controls['password'].valid}">
                                                    <div *ngIf="myForm.controls['password'].touched && myForm.controls['password'].invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="myForm.controls['password'].errors?.required">Entrez
                                                            votre mot de passe</div>
                                                        <div *ngIf="myForm.controls['password'].hasError('minlength')">
                                                            Tappez le
                                                            mot de passe (6 caractères) </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label>File upload</label>
                                                    <input type="file" name="img[]"
                                                        class="file-upload-default  form-control-file" #image
                                                        accept="image/*"
                                                        (change)="handleFileInput($event.target.files)">
                                                  
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <button class="btn btn-primary float-right"
                                                    (click)="registerUser(firstName,lastName, email,username,password, image)"
                                                        type="submit">Enregistrer</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>